.top-nav{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid #E2E2E2;
    height: 40px;
    font-size: 14px;
    text-align: center;
    @include background-image(linear-gradient(#FFF, #FFF 40%, #FCFCFC 80%, #EFEFEF));
    .top-left{
        margin-top: 10px;
        font-weight: 600;
        font-size: 18px;
        .menu-account{
            display: none;
            position: relative;
            font-weight: normal;
            .gadget{
                cursor: pointer;
                color: red;
                display: inline-block;
                margin-left: 3px;
            }
            ul{
                z-index: 1200;
                display: none;
                position: absolute;
                text-align: left;
                background-color: #fff;
                border: 1px solid #E2E2E2;
                top: 29px;
                width: 180px;
                @include box-shadow(5px 5px 10px -2px #E2E2E2);
                li{
                    padding: 10px 20px 10px 0;
                    border-top: 1px solid #e2e2e2;
                    &:first-child{
                        border-top: none;
                    }
                    i{
                        margin-left: 10px;
                    }
                }
            }
        }
    }
    .top-right{
        font-weight: 600;
        display: none;
    }
    a{
        &.tel{
            color: red;
            font-style: italic;
        }
    }
    .open-under{
        font-family: 'Glyphicons Halflings';
        position: absolute;
        left: 15px;
        top: 7px;
        font-size: 24px;
        text-decoration: none;
        color: #b00;
        &:before{
            content: '\e055';
        }
    }
}
.header {
    margin-top: 15px;
    .logo {
        display: none;
        float: left;
        margin-left: 50px;
        img {
            height: 60px;
            margin: 0 0 3px 0;
            width: 120px;
        }
        figcaption {
            font-family: 'Open Sans Condensed', sans-serif;
            font-size: 15px;
            color: #313FF8;
        }
    }
    .main-menu {
        display: none;
        float: left;
        font-size: 15px;
        font-weight: 600;
        margin: 18px 0 0 25px;
        ul{
            text-align: left;
            border-width: 1px 1px 0 1px;
            border-style: solid;
            border-color: #FEB951;
            @include border-radius(10px 10px 0 0);
            @include background-image(linear-gradient(#FEFCF0, #FDDAA2));
            height: 28px;
            padding: 0 10px;
        }
        li{
            float: left;
            margin: 5px 0 0;
            position: relative;
            &:before{
                content: '|';
                position: absolute;
                color: #FEB23F;
                left: -3px;
            }
            &:first-child:before{
                content: '';
            }
            a{
                padding: 5px 12px;
                display: block;
                line-height: 8px;
                &:hover{
                    text-decoration: none;
                }
            }
            &.active{
                margin-top: -10px;
                border-left: none;
                &:before{
                    content: '';
                }
                + li:before{
                    content: '';
                }
                a{
                    @include border-radius(10px 10px 0 0);
                    @include background-image(linear-gradient(#FE7F7F, #F9504F));
                    border-top: 1px solid #F01F1E;
                    border-left: 1px solid #F01F1E;
                    border-right: 1px solid #F01F1E;
                    padding: 10px 20px;
                    line-height: 16px;
                    color: #ffffff;

                }
            }
        }
    }
}
.header-bar{
    border-right: 1px solid #D91C1B;
    border-bottom: 1px solid #D91C1B;
    border-left: 1px solid #D91C1B;
    @include border-radius(8px);
    @include background-image(linear-gradient(#FA5150, #D91C1B));
    height: 48px;
    text-align: center;
    .main-search{
        margin: 7px 0 0 0;
        position: relative;
        display: inline-block;
        input{
            border: 1px solid #B70504;
            @include background-image(linear-gradient(#D3D3D3, #F8F8F8 40%, #FFF));
            height: 32px;
            width: 255px;
            padding: 0 10px 0 40px;
            font-size: 14px;
        }
        i{
            margin: 9px 0 0 14px;
            position: absolute;
            color: #C5C5C5;
        }
        button{
            font-family: 'Open Sans Condensed', sans-serif;            color: #B70504;
            position: absolute;
            left: 332px;
            top: 0;
            visibility: hidden;
            @include background-image(linear-gradient(#FFF9C5, #FEE77A 50%, #FED250 51%, #FEDE85));
            border: 1px solid #B70504;
            height: 32px;
            padding: 0 15px;
            &:active {
                @include background-image(linear-gradient(#FFF9C5, #FEDE85));
            }
        }
    }
}