@import "partials/general";
@import "partials/form";
@import "compass/css3";

body{
    background-color: #444;
}
.site-wrapper {
    padding-top: 180px;
    .content{
        background-color: #fff;
        @include border_radius(7px);
        margin: auto;
        padding: 20px 30px 15px;
        width: 360px;
        .help-block, .alert{
            font-size: 0.8em;
            color: #a94442;
        }
        .alert-danger {
            background-color: #f2dede;
            border-color: #ebccd1;
            color: #a94442;
        }
        .form-title {
            font-weight: 300;
            margin-bottom: 25px;
        }
        h5 {
            color: #44b6ae;
            i {
                margin: 0 12px;
            }
        }
        .form-group{
            margin-bottom: 15px;
            .control-label{
                display: none;
            }
            .input-icon {
                border-left: 2px solid #44B6AE;
                border-radius: 5px;
                position: relative;
                i{
                    position: absolute;
                    top: 9px;
                    left: 11px;
                    color: #ccc;
                    font-size: 1.2rem;
                }
                input{
                    padding-left: 34px;
                }
            }
            .help-block {
                margin-bottom: 5px;
                display: block;
            }
        }
        .field-loginform-rememberme {
            float: left;
        }
        .btn {
            border-width: 0;
            padding: 6px 14px;
            outline: none;
            filter: none;
            text-shadow: none;
            @include box-shadow(none);
            @include border-radius(5px);
            &.green-haze {
                float: right;
                color: #FFFFFF;
                background-color: #44b6ae;
                border-color: transparent;
            }
        }
    }
}
.site-error{
    text-align: center;
    font-size: 18px;
    a {
        &:before{
            content: '\f112';
            font-family:'FontAwesome';
            margin-right: 8px;
        }
        &:hover {
            text-decoration: underline;
        }
    }
}