/* line 4, ../../sass/app/partials/_general.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

/* line 7, ../../sass/app/partials/_general.scss */
.copyright {
  text-align: center;
  font-size: 0.8rem;
  padding-top: 8px;
  color: #fff;
}

/* line 15, ../../sass/app/partials/_general.scss */
.tabs-content .content .tabs {
  border-top: 1px solid #EFEFEF;
}

/* line 21, ../../sass/app/partials/_general.scss */
.cke_reset_all textarea, .cke_reset_all input[type="text"], .cke_reset_all input[type="password"] {
  height: auto;
}

/* line 26, ../../sass/app/partials/_general.scss */
.product-search {
  overflow: hidden;
  *zoom: 1;
  padding-top: 20px;
}
/* line 29, ../../sass/app/partials/_general.scss */
.product-search label {
  display: none;
}
/* line 32, ../../sass/app/partials/_general.scss */
.product-search input {
  width: 300px;
}
/* line 35, ../../sass/app/partials/_general.scss */
.product-search select {
  width: 200px;
}
/* line 38, ../../sass/app/partials/_general.scss */
.product-search button {
  padding: 8px 20px;
  color: #fff;
}
/* line 42, ../../sass/app/partials/_general.scss */
.product-search .form-group {
  float: left;
  margin-right: 10px;
}

/* line 3, ../../sass/app/partials/_form.scss */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
select,
textarea {
  border-radius: 4px;
  font-size: 14px;
  font-weight: normal;
  color: #333;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-transition-property: border-color, box-shadow;
  -o-transition-property: border-color, box-shadow;
  -webkit-transition-property: border-color, box-shadow;
  transition-property: border-color, box-shadow;
  -moz-transition-duration: 0.15s, 0.15s;
  -o-transition-duration: 0.15s, 0.15s;
  -webkit-transition-duration: 0.15s, 0.15s;
  transition-duration: 0.15s, 0.15s;
  -moz-transition-timing-function: ease-in-out, ease-in-out;
  -o-transition-timing-function: ease-in-out, ease-in-out;
  -webkit-transition-timing-function: ease-in-out, ease-in-out;
  transition-timing-function: ease-in-out, ease-in-out;
  margin: 0;
}
/* line 30, ../../sass/app/partials/_form.scss */
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="color"]:focus,
select:focus,
textarea:focus {
  border-color: #44B6AE;
}

/* line 5, ../../sass/app/login.scss */
body {
  background-color: #444;
}

/* line 8, ../../sass/app/login.scss */
.site-wrapper {
  padding-top: 180px;
}
/* line 10, ../../sass/app/login.scss */
.site-wrapper .content {
  background-color: #fff;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  margin: auto;
  padding: 20px 30px 15px;
  width: 360px;
}
/* line 16, ../../sass/app/login.scss */
.site-wrapper .content .help-block, .site-wrapper .content .alert {
  font-size: 0.8em;
  color: #a94442;
}
/* line 20, ../../sass/app/login.scss */
.site-wrapper .content .alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
/* line 25, ../../sass/app/login.scss */
.site-wrapper .content .form-title {
  font-weight: 300;
  margin-bottom: 25px;
}
/* line 29, ../../sass/app/login.scss */
.site-wrapper .content h5 {
  color: #44b6ae;
}
/* line 31, ../../sass/app/login.scss */
.site-wrapper .content h5 i {
  margin: 0 12px;
}
/* line 35, ../../sass/app/login.scss */
.site-wrapper .content .form-group {
  margin-bottom: 15px;
}
/* line 37, ../../sass/app/login.scss */
.site-wrapper .content .form-group .control-label {
  display: none;
}
/* line 40, ../../sass/app/login.scss */
.site-wrapper .content .form-group .input-icon {
  border-left: 2px solid #44B6AE;
  border-radius: 5px;
  position: relative;
}
/* line 44, ../../sass/app/login.scss */
.site-wrapper .content .form-group .input-icon i {
  position: absolute;
  top: 9px;
  left: 11px;
  color: #ccc;
  font-size: 1.2rem;
}
/* line 51, ../../sass/app/login.scss */
.site-wrapper .content .form-group .input-icon input {
  padding-left: 34px;
}
/* line 55, ../../sass/app/login.scss */
.site-wrapper .content .form-group .help-block {
  margin-bottom: 5px;
  display: block;
}
/* line 60, ../../sass/app/login.scss */
.site-wrapper .content .field-loginform-rememberme {
  float: left;
}
/* line 63, ../../sass/app/login.scss */
.site-wrapper .content .btn {
  border-width: 0;
  padding: 6px 14px;
  outline: none;
  filter: none;
  text-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 71, ../../sass/app/login.scss */
.site-wrapper .content .btn.green-haze {
  float: right;
  color: #FFFFFF;
  background-color: #44b6ae;
  border-color: transparent;
}

/* line 80, ../../sass/app/login.scss */
.site-error {
  text-align: center;
  font-size: 18px;
}
/* line 84, ../../sass/app/login.scss */
.site-error a:before {
  content: '\f112';
  font-family: 'FontAwesome';
  margin-right: 8px;
}
/* line 89, ../../sass/app/login.scss */
.site-error a:hover {
  text-decoration: underline;
}
